<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web Orders</title>
    {% load staticfiles %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'navigation/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'navigation/css/starter-template.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Pemes Apps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/pricing">Wycena</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block navigate %}
    {% endblock %}

    <main role="main" class="container">
      <div class="starter-template">
      {% block content %}
      {% endblock %}
      </div>
    </main><!-- /.container -->
    
    <script src="{% static 'navigation/js/bootstrap.min.js' %}"></script>
  </body>
</html>
