{% extends "template.html" %}

    {% load staticfiles %}

{% block navigation %}
{% include "pricing/navigation.html" %}
{% endblock %}

{% block content %}
   <div class="card bg-light mx-auto" style="max-width: 30rem;">
      <div class="text-center">
        <form method="POST" class="post-form" @submit="checkForm">
          {% csrf_token %}
          <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
          </div>
          <div class="card-body">
            <div style="float:left;"><p class="card-text" >Nazwa</p></div>
            <div style="float:right;"><p class="card-text" >{{ form.name }}</p></div>
          </div>
          <div class="card-body">
            <div style="float:left;"><p class="card-text" >Lider</p></div>
            <div style="float:right;"><p class="card-text" >{{ form.leader }}</p></div>
          </div>
          <div class="card-body">
            <div style="float:left;"><p class="card-text" >Opis</p></div>
            <div style="float:right;"><p class="card-text" >{{ form.description }}</p></div>
          </div>
          <div class="card-body" id="component_formset">
            <dynamic-formset ref="df"
                             :form_prefix="prefix"
                             :cols="cols">
            </dynamic-formset>
          </div>
          <div class="card-body">
            <button type="submit" class="save btn btn-default">Zapisz</button>
            <button type="button" class="save btn btn-default" data-toggle="modal" data-target="#component_modal">Dodaj komponent</button>
            {% if pk is not defined %}
            <button type="button" class="save btn btn-default" onclick="location.href='/pricing/project/{{pk}}'">Szczegóły</button>
            <button type="button" class="save btn btn-default" onclick="delete_project({{ pk }})">Usuń</button>
            {% endif %}
          </div>
        </form>
        <div id="csearch_modal">
            <modal :id="'component_modal'">
                <template slot="header">
                  Dodaj komponent
                </template>
                <component-search :cols="cols"
                                :buttons="buttons"
                                :callbacks="callbacks">
                </component-search>
            </modal>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vue/search-component.js' %}"></script>
    <script src="{% static 'vue/component-search-component.js' %}"></script>
    <script src="{% static 'vue/dynamic-formset-component.js' %}"></script>
    <script src="{% static 'js/pricing_utils.js' %}"></script>
    <script src="{% static 'js/edit_project.js' %}"></script>
    <script>
      {% for f in formset %}
        dform_set.$refs.df.add({'id': {{ f.id.value }}, 'name': '{{ f.name.value }}', 'amount': {{ f.amount.value }} })
      {% endfor %}
    </script>
{% endblock %}

