{% extends "template.html" %}

    {% load staticfiles %}

{% block navigation %}
{% include "pricing/navigation.html" %}
{% endblock %}

{% block content %}
  <div class="row container">
    <div class="col-md-6">
      <div class="card bg-light">
        <div class="text-center">
          <form method="POST" class="post-form" id="form_set" @submit="checkForm">
            {% csrf_token %}
            <div class="card-body">
              <div style="float:left;"><p class="card-text" >Nazwa</p></div>
              <div class="input-group" style="float:right;"><p class="card-text" >{{ form.name }}</p></div>
            </div>
            <div id="product_formset" class="card-body">
              <dynamic-formset ref="df"
                               :form_prefix="prefix"
                               :cols="cols">
              </dynamic-formset>
              <button type="submit" class="save btn btn-default">Zapisz</button>
            </div>
          </form>
          <div id="pricing">
            <h3>Wszystkie produkty</h3>
            <div class="card-body">
              <div style="float:left;"><p class="card-text" >Cena</p></div>
              <div style="float:right;"><p class="card-text" >[[ price ]]</p></div>
            </div>
            <div id="dynamic_table" class="card-body">
              <dynamic-table :rows="rows"
                             :cols="cols"
                             :buttons="buttons"
                             :callbacks="callbacks">
              </dynamic-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="product_search" class="col-md-6">
      <product-search :cols="cols"
                      :buttons="buttons"
                      :callbacks="callbacks">
      </product-search>
    </div>
  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vue/search-component.js' %}"></script>
    <script src="{% static 'vue/dynamic-formset-component.js' %}"></script>
    <script src="{% static 'vue/dynamic-table-component.js' %}"></script>
    <script src="{% static 'js/edit_order.js' %}"></script>
{% endblock %}

