{% extends "template.html" %}

    {% load staticfiles %}

{% block navigation %}
{% include "pricing/navigation.html" %}
{% endblock %}

{% block content %}
   <div class="card bg-light mx-auto" style="max-width: 30rem;">
      <div class="text-center">
        <form method="POST" class="post-form" @submit="checkForm">
          {% csrf_token %}
          <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
          </div>
          <div class="card-body">
            <div style="float:left;"><p class="card-text" >Nazwa</p></div>
            <div style="float:right;"><p class="card-text" >{{ form.name }}</p></div>
          </div>
          <div class="card-body">
            <div style="float:left;"><p class="card-text" >Cena</p></div>
            <div style="float:right;"><p class="card-text" >{{ form.project_name }}</p></div>
          </div>
          <div class="card-body">
            <div style="float:left;"><p class="card-text" >Grupa</p></div>
            <div style="float:right;"><p class="card-text" >{{ form.group }}</p></div>
          </div>
          <div class="card-body">
              {% for f in formset %}
                {{ f.as_table }}
              {% endfor %}
              {{ formset.management_form }}
          </div>
          <div class="card-body">
            <button type="submit" class="save btn btn-default">Zapisz</button>
            {% if pk is not defined %}
            <button type="button" class="save btn btn-default" onclick="delete_component({{ pk }})">Usuń</button>
            {% endif %}
          </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vue/search-component.js' %}"></script>
    <script src="{% static 'vue/dynamic-formset-component.js' %}"></script>
    <script src="{% static 'vue/dynamic-table-component.js' %}"></script>
    <script src="{% static 'js/edit_component.js' %}"></script>
    <script>
    </script>
{% endblock %}

