
          <tr id="id_form-__pk__-tr" data-idx="__prefix__" data-pk="__pk__">
            <td>__username__ <input type="hidden" name="form-__prefix__-account_id" maxlength="130" value="__account_id__" id="id_form-__prefix__-account_id"/></td>
            <td><input type="number" name="form-__prefix__-contribution" step="0.01" value="__contribution__" id="id_form-__prefix__-contribution" /></td>

            <td><a class="btn remove_form"><i class="fas fa-trash"></i></a></td>
          </tr>

        <tr v-for="row in rows">
          <td>
            {{ row.name }}<input :id="getRowId(row, col[0])"
                                 name="getRowName(row, col[0])"
                                 type="hidden" maxlength="130"
                                 value="row.pk" />
          </td>
          <td>
            <input id="getRowId(row, col[1])"
                   name="getRowName(row, col[1])"
                   type="number" step="0.01" value="row.amount" />
          </td>
          <td>
            <a class="btn" v-on:click="remove(row)"><i class="fas fa-trash"></i></a>
          </td>
        </tr>
        <input type="hidden" name="form-TOTAL_FORMS" :value="total_forms" id="id_form-TOTAL_FORMS" />
        <input type="hidden" name="form-INITIAL_FORMS" :value="initial_forms" id="id_form-INITIAL_FORMS" />
        <input type="hidden" name="form-MIN_NUM_FORMS" :value="min_num_forms" id="id_form-MIN_NUM_FORMS" />
        <input type="hidden" name="form-MAX_NUM_FORMS" :value="max_num_forms" id="id_form-MAX_NUM_FORMS" />
