      
        <li class="nav-item">
          <a class="nav-link {{ new_product_active }} p-2" href="/pricing/new_product">Dodaj produkt</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ products_active }}  p-2" href="/pricing/product_list">Produkty</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ order_active }}  p-2" href="/pricing/new_order">Wycena</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ order_active }}  p-2" href="#">Historia wycen</a>
        </li>