{% extends "template.html" %}
{% load staticfiles %}

{% block navigation %}
{% include "pricing/navigation.html" %}
{% endblock %}

{% block content %}
  <div id="product_search" class="container" style="max-width: 50rem;">
    <product-search :cols="cols"
                    :buttons="buttons"
                    :callbacks="callbacks">
    </product-search>
  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vue/search-component.js' %}"></script>
    <script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}
