      
        
       <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link {{ product_edit }} p-2" href="/pricing/product/new">Dodaj produkt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ component_edit }}  p-2" href="/pricing/component/new">Dodaj komponent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ project_edit  }}  p-2" href="/pricing/project/new">Dodaj projekt</a>
          </li>  
       </ul>
      
      <ul class="navbar-nav nav-pills">      
        <li class="nav-item">
            <a class="nav-link {{ products_active }}  p-2" href="/pricing/products">Produkty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ components_active }}  p-2" href="/pricing/components">Komponenty</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ projects_active }}  p-2" href="/pricing/projects">Projekty</a>
        </li>
      </ul>